<p>Hi {{name}},</p>
<p>Your one-time password (OTP) is
  <strong>{{otp}}</strong>. It will expire in
  {{expiresIn}}.</p>
<p>If you didn't request this, please ignore this message.</p>
<p>Thanks,<br />TiffinCRM Team</p>